.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #251a15;
  padding: 24px 0;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
