@import "./variables";

header.container {
  position: absolute;
  z-index: 1;
  inset: 0;
}

.site-header {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 12px 0;

  &__logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    gap: 48px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__hamburger {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__nav-item {
    color: $deep-brown-color;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      color: $dark-red;
    }
  }

  @media screen and (max-width: 992px) {
    width: 100%;
    justify-content: space-between;
  }
}
