@import "./variables";

.top-section {
  background: $light-gray-color;
  position: relative;
  overflow: hidden;

  .container {
    display: flex;
    align-items: flex-start;
  }

  &__background {
    width: 100%;
    height: 100%;
    max-height: 470px;
    margin-right: -300px;
    transform: scale(1.5);
  }

  .site-header {
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 12px 0;
    position: absolute;
    z-index: 1;

    &__logo {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    &__nav-list {
      display: flex;
      list-style: none;
      gap: 48px;
    }

    &__nav-item {
      color: $deep-brown-color;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
