@import "./variables";

.site-welcome {
  padding: 60px 0;
  padding-top: calc(60px + 72px);
  width: 100%;

  &__title {
    color: $deep-brown-color;
    font-family: "Lobster", cursive;
    font-size: 64px;
    max-width: 620px;
    font-weight: 400;
  }

  &__cta {
    display: inline-flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $dark-red;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 32px;

    &:hover {
      background: $darker-red;
    }
  }
}
